[submodule "server"]
	path = server
	url = https://github.com/EstherLiberman/AI.LearningPlatform.git
[submodule "ai_client_temp"]
	path = ai_client_temp
	url = https://github.com/EstherLiberman/ai_client.git
